* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url(/Images/Background.png);
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.icons {
    display: flex;
    gap: 20px;
    font-size: 60px;

}

.links {
    display: flex;
    gap: 98px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.links a i {
    margin-right: 10px;
}

.beige {
    color: #D8D1BD;

}

.gray {
    color: #404040
}

.inlineblock{
    display: flex;
    justify-content: center;
    gap:80px;
    
}

.buttons{
    display:flex;
    justify-content: center;
    font-size: 24px;
    padding: 10px;
    width: 205px;
    color: white;
    background-color: #65806D;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 50px 500px 50px 500px;    
}

.buttons:hover{
    background-color: #95B473;
    transition: background 1s;
}

div ul li {
    list-style: none;
    padding: 30px;
}

.fonts{
    font-size: 24px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: black;    
}

.test {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/Images/Rectangleultm.png");
    height: 385px;
    width: 480px;
    color: #D8D1BD;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover; 
 
  }

  .test ul li span{
    margin-right: 20px;
  }

  #fointcolor {
    text-align: center;
    gap: 50px;
    color:#D8D1BD;
    align-items:center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    list-style: none;
  }


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 8px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 7px;
    text-decoration: none;
    display: block;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border-radius: 8px;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .beigeclick {
    color: #D8D1BD;
}

.beigeclick:hover {
    background-color: #95B473;
    color:#404040;
    transition: background 1s;
    border-radius: 8px;
    padding: 10px;
}

button {
    border-style: none;
}