* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url(/Images/Background.png);
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.icons {
    display: flex;
    gap: 20px;
    font-size: 60px;

}


.links {
    display: flex;
    gap: 98px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.links a i {
    margin-right: 10px;
}

.beige {
    color: #D8D1BD;
}

.beigeclick {
    color: #D8D1BD;
}

.beigeclick:hover {
    background-color: #95B473;
    color:#404040;
    transition: background 1s;
    border-radius: 8px;
    padding: 10px;
}

.gray {
    color: #404040
}

.green {
    color: #65806D
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

h1 {
    font-size: 67px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    text-align: justify;
}


.container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.section-left {
    padding: 20px;
 
}

.text {
    margin-bottom: 50px;

}

.buttons{
    display: inline-block;
    text-align:center;
    font-size: 24px;
    padding: 10px;
    width: 205px;
    color: white;
    background-color: #65806D;
    border-radius: 8px;
    user-select:none;
    cursor:pointer;
    margin: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    
    
}
.buttons:hover{
    background-color: #95B473;
    transition: background 1s;
    
}

.dropdown {
    position: relative;
    display: inline-block;
    list-style: none;
  }


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 8px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 7px;
    text-decoration: none;
    display: block;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border-radius: 8px;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
